html
    head
    body
        h1 List of users
        a(href="/dashboard/users/create") Create User
        if users
            ul
            each user in users
                li
                    span ID: #[a(href='/dashboard/users/'+user.id) #{user.id}]

                    span NICK: #{user.nick} |
                    span ROLE: #{user.role.name}
