block vars
doctype html
html
    head
        title LanSpace | #{title}
        link(rel='stylesheet', href="/pub/css/bootstrap.min.css")
        link(rel='stylesheet', href="/pub/css/bootstrap-grid.min.css")
    body
        a(href="/") Home Page
        block body
