extends base
block vars
    - var title = "Home Page"
block body
    h1 LanSpace Home
    h2 Welcome #{userName}
    p.
        Please #[a(href="/register") register] or #[a(href="/login") login] to continue.
