extends base
block vars
    - var title = "Home Page"
block body
    h1 LanSpace Home
    h2 Welcome #{userName}
    p.
        Please #[a(href="/panel/register") register] or #[a(href="/panel/login") login] to continue.
