extends base
block vars
    - var title = "Login"
block body
    h2 Register Page
    form(method="post" action="/register")
        div(class="form-group")
            label Nick:
            input(type="text" name="nick" required=true)
        div(class="form-group")
            label Email:
            input(type="email" name="email" required=true)
        div(class="form-group")
            label Password:
            input(type="password" name="password" required=true)
        div(class="form-group")
            input(type="submit")
    if (error)
        p=error
